/* 데스크탑 전용 스타일 (clamp 기반)*/
body {
  font-size: clamp(15px, 1vw, 17px); /* 기본 폰트 크기 */
}

p {
  line-height: 1.6;
}

input {
  font-size: clamp(14px, 1.2vw, 16px);
}

textarea {
  font-size: clamp(16px, 2.5vw, 18px); /* 텍스트 영역 글자 크기 */
}

button {
  padding: clamp(12px, 1.2vw, 16px) clamp(18px, 1.8vw, 26px); /* 클릭 영역 반응형 */
  font-size: clamp(15px, 1.2vw, 18px);
}

.container {
  padding: clamp(20px, 2vw, 28px) clamp(24px, 3vw, 36px); /* 좌우 여백 반응형 */
}

.card {
  padding: clamp(50px, 12vw, 60px) clamp(12px, 3vw, 16px);
}

.cardTitle {
  font-size: clamp(23px, 5vw, 32px);
  margin: 0px 0px clamp(34px, 2vw, 38px) 0px;
}

#introText {
  font-size: clamp(30px, 6vw, 48px);
}

#wedding-info-text {
  font-size: clamp(23px, 4.7vw, 30px);
}

.familyName{
  font-size: clamp(19px, 3.8vw, 28px);
}

.welcomeMessage {
  font-size: clamp(19px, 3.8vw, 28px);
}

#wedding-info-details{
  font-size: clamp(17.1px, 3.5vw, 24px);
}

.location-info,
.contact-row,
.transport-row{
  font-size: clamp(15px, 2.7vw, 21px); /* 라벨도 clamp 적용 */
}

.address-row .locationTypeLabel{
  font-size: clamp(14px, 2.7vw, 18px); /* 라벨도 clamp 적용 */
}

.addressCopyButton {
  padding: 2px 8px;
  font-size: clamp(15px, 2.4vw, 21px); /* 버튼도 통일 */
}

.map-btn {
  font-size: clamp(16px, 3.0vw, 17px);
}

.photo-gallery img {
  max-width: clamp(240px, 20vw, 280px); /* 데스크탑에서 너무 커지지 않도록 제한 */
}